.header-container{
    border: 1px solid black;
      display: flex;
      justify-content: space-between;
       border-radius: 6px; 
}

.logo > img{
       width: 100px;
    height: 30px;
    margin: 10px;
}
.nav-items  {
   
    padding: 0px 20px;
}

.nav-items >ul  {
    display: flex;
    list-style: none;
  
}
.nav-items >ul >li {
    padding: 0px 15px;
    font-weight: bold;
    cursor: pointer;
}
.body-container{
    padding: 20px;
    border: 1px solid black;
    border-radius: 6px;    
    margin-top: 10px;    
     
}

.res-card{
  height: 450px;
    width: 250px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    border-radius: 6px;
    margin: 15px;
    padding: 15px;
    
   

}
.card-container{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    margin-top: 10px;
}
.search-container{
    margin-top: 10px;
    display: flex;
    justify-content: center;
}

.res-card img {
    height: 150px;
   width: 100%;
    border-radius: 10px 10px 0px 0px;
}

.card-properties{
    xpadding: 10px;
    text-align: center;
}

.shimmer-container{
    display: flex;
    flex-wrap: wrap;
   
}
.shimmer-card{
    height: 350px;
    width: 250px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    border-radius: 6px;
    margin: 15px;
    padding: 15px;
    background-color: #f0f0f0;
    animation: shimmer 1.5s infinite;
   
}